@font-face	{
	font-family:	Raleway-Medium;
	src:	url(../fonts/Raleway-Medium.ttf);
}

@font-face	{
	font-family:	Triforce;
	src:	url(../fonts/Triforce.ttf);
}

@font-face	{
	font-family:	Splatoon2;
	src:	url(../fonts/Splatfont2.ttf);
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
 background-image: url(../img/backgrounds/bg_jp_pc.jpg); /* Background for the site */
 
 background-attachment: fixed;	/* Controls whether background scrolls */
 
 background-size: cover;	/* research */
 
 background-color: rgba(100,100,100,.8); /* Tint color */
 
 background-blend-mode: multiply;	/* Tint for background */
 
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}

.logo img{
		width:	500px;
		float:	center;
		position:	center;
		padding-left:	36.5%;
		padding-top:	0%;
		margin-top: 20px;
}

.text{
	font-family:	Splatoon2;	
	margin-top: 20px;
	line-height: .5cm;
	text-align: center;
	color:#FFF;
	font-size: 25px;
	text-shadow: 2px 2px 4px #000000
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    padding: 1rem;
	font-size: 15px;
    margin-top: auto; /* negative value of footer height */
	font-family:	Raleway-Medium;
    text-align: center;
    color:#FFF;
	text-shadow: 1px 1px 2px #000000
}

		a { color: white; }	
		h1 { font-weight: normal; }