@font-face	{
	font-family:	Raleway-Medium;
	src:	url(../fonts/Raleway-Medium.ttf);
}


body {
 background-image: url(../img/backgrounds/fungi.png); /* Background for the site */

 background-attachment: fixed;	/* Controls whether background scrolls */

 background-size: cover;	/* research */

 background-color: rgba(100,100,100,.9); /* Tint color */

 background-blend-mode: multiply;	/* Tint for background */

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}

.note-text{
		position: flex;
		text-align: center;
		font-family:	Raleway-Medium;
		line-height: 0cm;
		margin-top: 600px;
		color:#fff;
		font-size: 15px;
}