@font-face	{
	font-family:	Raleway-Medium;
	src:	url(../fonts/Raleway-Medium.ttf);
}

@font-face	{
	font-family:	Triforce;
	font-weight:	Normal;
	src:	url(../fonts/Triforce.ttf);
}

@font-face	{
	font-family:	Splatoon2;
	src:	url(../fonts/Splatfont2.ttf);
}


body {
 /*background-image: url(../img/backgrounds/fungi.png); /* Background for the site */

 /*background-attachment: fixed;	/* Controls whether background scrolls */
 
 /*background-repeat: repeat; /* Repeats background on x, y, or both axis */

 /*background-size: cover;	/* research */

 /*background-color: rgba(100,100,100,.8); /* Tint color */

 /*background-blend-mode: multiply;	/* Tint for background */

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}

.logo img{
	width: 200px;
	display: inline-block;
}


.banner {
	background-image: url("../img/banner/bannertopgeneral_evening_new.png");
	background-size: cover;
	margin: 0;
	padding: ;
}

.wrapper {
	margin: 0;
	padding: 0;
}

.nav-area{
	float:center;
	list-style: none;
	font-family:	Splatoon2;
	padding: 3px;
	vertical-align: center;
	width: 63%;
	margin: 0 auto;
}


.nav-area li{
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
}

.nav-area li a{
		color: white;
		background:	maroon;
		text-decoration: none;
		padding: 3px 17px;
		font-size: 18px
}

.nav-area li a:hover{
	background:	teal;
	color: white;
}

.nav-sub{
	text-align: center;
	margin: 23% 0%;
	margin-top: 120px;
	padding-right:	0px;
	padding-left:	0%;
	font-family:	Splatoon2;

}

.nav-sub li{
		display: inline-block;

}

.nav-sub li a{
		color: white;
		background:	maroon;
		text-decoration: none;
		padding: 0px 17px;
		font-size: 18px
}

.nav-sub li a:hover{
	background:	teal;
	color: white;
}
.news_text{
	float:left;
	font-weight:normal;
	list-style: none;
	font-family:	Splatoon2;
	padding: 50px;
	padding-left:	20%;
	width: 63%;
	margin: 0 center;
	font-size: 10px
}

.news_image img{

	padding: 30px;
	width: 200px;
	padding-left:	10%;
	padding-right:	150px;
	float:left;
}


.line-1 {
	height:	5px;
	float:absoulte;
	margin-top: 200px;
	background:	maroon;
}

.line-2 {
	height:	3px;
	background:	limegreen;
}

.line-3 {
	height:	5px;
	float:center;
	background:	maroon;
}

.line-4 {
	height:	5px;
	float:center;
	margin-top: 100px;
	background:	maroon;
}

.line-5 {
	height:	5px;
	float:center;
	margin-top: 0px;
	background:	maroon;
}

.line-6 {
	height:	5px;
	float:center;
	margin-top: -100px;
	background:	maroon;
}

.subcat_text{
		color: white;
		position: center;
		margin: 5% 0%;
		text-align: center;
		padding-left:	0%;
		font-family:	Triforce;
		color:#fff;
		font-weight:	normal;
		font-size: 20px;
}

.release-text{
		position: flex;
		text-align: center;
		font-family:	Raleway-Medium;
		line-height: 0cm;
		margin-top: 600px;
		color:#fff;
		font-size: 15px;
}

.release-text2{
		position: center;
		text-align: center;
		font-family:	Splatoon2;
		line-height: .5cm;
		margin-top: 100px;
		color:#fff;
		font-size: 30px;
}

footer {
	background-color: #6f1f1f;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    padding: 1rem;
	font-size: 15px;
    margin-top: auto; /* negative value of footer height */
	font-family:	Raleway-Medium;
    text-align: center;
    color:#FFF;
	text-shadow: 2px 2px 1px #000000FF
}


		a { color: white; }	
		h1 { font-weight: normal; }